body {
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    flex-direction: column;
    line-height: 5px;
}
#logocolor {
    color: rgb(250, 170, 79);
}

li{
    display: inline-block;
    margin: 20px;
    font-family: poppinsmedium;
}

a {
    color: white;
}
a:hover {
    color: rgb(175, 13, 175);
    transition: 0.3s all;
}

#createAcc {
    border: 2px solid rgb(175, 13, 175);
    border-radius: 15px;
    padding: 10px;
}
#createAcc:hover {
    background-color: rgb(175, 13, 175);
    padding: 15px;
    color: white;
}

h1 {
    font-weight: 200px;
    font-family: poppinsregular;
    align-items: center;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

h2 {
    font-size: 50px;
    line-height: 10px;
    font-family: poppinsmedium;
    padding: 100px;
    align-items: center;
}
h3 {
    margin-bottom: 5%;
}

div {
    display: flex;

}

#pacotes {
    align-items: flex-start;
    justify-content: space-between; 
}

#plan {
    max-width: 30%;
    border-radius: 10%;
    display: grid;
}

#desc {
    font-size: 20px;
}

#imgplan {
    border-radius: 5%;
    border: #ffffff solid 4px;
}

#buybuttons {
    align-items: end;
    justify-content: space-between;
}
